
{% extends "base_page.html" %}

{% block content %}

<div class="container marketing" style="margin-top:80px;margin-bottom: 100px;margin-left: 30%;">
	
	<h3 style="font-family: 'Varela Round', sans-serif;margin-left:60px;margin-bottom: 40px;">Change password:</h3>
	<form class="form-horizontal" method="post" style="margin-top: -20px;">
		<div class="control-group">
			<label class="control-label" for="inputEmail" style="font-family: 'Raleway', sans-serif;">Current password</label>
			<div class="controls">
				<input type="password" name="current_password" id="inputEmail" placeholder="Current password">
					<div>
						<label style="display: inline-block;color:red;margin-left:5px;font-size:16px;">{{error_current_password}}</label>
					</div>
			</div>
				
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword_signup" style="font-family: 'Raleway', sans-serif;">New Password</label>
			<div class="controls">
				<input type="password" name="new_password" id="inputPassword_signup" placeholder="Password">
				<div>
					<label style="display: inline-block;color:red;margin-left:5px;font-size:16px;">{{error_new_password}}</label>
				</div>
			</div>
		</div>
			
		<div class="control-group">
			<label class="control-label" for="inputPassword_signup_verify" style="font-family: 'Raleway', sans-serif;">Repeat new password</label>
			<div class="controls">
				<input type="password" name="verify" id="inputPassword_signup_verify" placeholder="Password again">
				<div>
					<label style="display: inline-block;color:red;margin-left:5px;font-size:16px;">{{error_password_verify}}</label>
				</div>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">									
				<button type="submit" class="btn btn-primary" style="width:200px;font-size:20px;height:40px;">Update Password</button>
			</div>
		</div>
			
	</form>
</div>
    
  </body>
</html>
{% endblock %}

