
{% extends "base_page.html" %}

{% block content %}

<div class="container marketing" style="margin-top:80px;margin-bottom: 100px;margin-left: 30%;">	
	{% if not success_flag %}
	<h3 style="font-family: 'Raleway', sans-serif;margin-left:60px;margin-bottom: 40px;">Please insert your username/email</h3>
	<form class="form-horizontal" method="post" style="margin-top: -20px;">
		<div class="control-group">
			<label class="control-label" for="inputEmail" style="font-family: 'Raleway', sans-serif;">Email/Username</label>
			<div class="controls">
				<input type="text" name="user_name" id="inputEmail" placeholder="user@example.com" value="{{user_name_value}}">
					<div>
						<label style="display: inline-block;color:red;margin-left:5px;font-size:16px;">{{error_user}}</label>
					</div>
			</div>
		</div>
		
		<div class="control-group">
			<div class="controls">									
				<button type="submit" class="btn btn-primary" style="width:200px;font-size:20px;height:40px;">Send Reminder</button>
			</div>
		</div>
			
	</form>
	{% else %}
		<h3 style="font-family: 'Raleway', sans-serif;margin-left:60px;margin-bottom: 40px;">A reminder has been sent to your email.</h3>
	{% endif %}
</div>
    
  </body>
</html>
{% endblock %}

